[rabbit]
rabbitMQQueueName={{ queueName  }}
rabbitMQHost={{ queueHost }}
rabbitMQUser={{ queueUser }}
rabbitMQPass={{ queuePassword }}

[worker]
heartbeatRate=2.5
preworkerSleep=5
postworkerSleep=5
max-runs=1
hostUserName={{ hostUser }}
endless=false