{
	"rabbitMQQueueName":"{{ queueName  }}",
	"rabbitMQHost":"{{ queueHost }}",
	"rabbitMQUser":"{{ queueUser }}",
	"rabbitMQPass":"{{ queuePassword }}",
	"heartbeatRate":"2.5",
	"preworkerSleep":"2",
	"postworkerSleep":"2",
	"max-runs":"1",
	"hostUserName":"{{ hostUser }}"
}
